@import url('https://fonts.googleapis.com/css?family=Tenor+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Signika:400,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,700');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700');

html {
  font-size: 16px;
//  line-height: 1.25rem;
  font-weight: 400;
}

body {
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  margin: 0 auto;
//  font-family: 'Tenor Sans', sans-serif;
//  font-family: 'Dosis', sans-serif;
//  font-family: 'Abel', sans-serif;
//  font-family: 'Questrial', sans-serif;
//  font-family: 'Signika', sans-serif;
//  font-family: 'Libre Franklin', sans-serif;
//  font-family: 'Alegreya Sans', sans-serif;
//  font-family: 'Comfortaa', cursive;
//  font-family: 'Rajdhani', sans-serif;
//  font-family: 'Quattrocento Sans', sans-serif;
//  font-family: 'Proza Libre', sans-serif;
//  font-family: 'Alegreya Sans SC', sans-serif;
  font-family: 'Gafata', sans-serif;
  background-color: $black;
  color: $lightPink;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  display: block;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

b {
  display: block;
}

fieldset {
  border: none;
  padding: 0;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  cursor: pointer;
}

img {
  height: auto;
}

nav {
//  position: absolute;
//  left: 0;
//  right: 0;
  cursor: pointer;
}