.cast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    ". to-right";
  height: inherit;
  -ms-flex-line-pack: center;
      align-content: center; }

.cast__inner {
  align-self: center;
  display: flex;
  grid-area: to-right;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cast__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.cast__role {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0.2em;
  margin-right: 1%;
  text-transform: none; }

.cast__name {
  color: #fff;
  margin-bottom: 1em; }
