.cast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: '. flex';
}

.cast__inner {
  grid-area: flex;
  flex-basis: 29%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  height: 100vh;
  width: 419px;
  align-content: space-around;
}

.cast__block {
  height: auto;
  &--actors {
    padding-top: 15%;
  }
  &--produced {
    padding-bottom: 15%;
  }
}

.cast__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.cast__role {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0.2em;
  text-transform: none;
  flex: 0 1 auto;
}

.cast__name {
  color: $white;
  margin-bottom: 1em;
  flex: 1 0 auto;
}

//.cast__block--actors {
//  grid-area: one;
//}
//
//.cast__block--director {
//  grid-area: two;
//}
//
//.cast__block--assistant {
//  grid-area: three;
//}
//
//.cast__block--photo {
//  grid-area: four;
//}
//
//.cast__block--production {
//  grid-area: five;
//}
//
//.cast__block--produced {
//  grid-area: six;
//}
