.down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  &::before {
    content: "\f175";
    font-family: FontAwesome;
    font-size: 30px;  
    margin: 0 auto;
    display: block;
    width: 20px;
  }
}