.main-nav {
  padding: 0 20% 0;
  padding-top: 30px;
  z-index: 1000;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main-nav__item {
}

.main-nav__link {
  @include font(18px, 1.2em, 400);
  display: block;
  text-decoration: none;
  color: inherit;
  
  &:hover,
  &.active {
    color: $white;
  }
}
