.page-header {
  @include on-center();
}

.page-header__inner {
  text-align: center;
}

.page-header__intro {
  padding-top: 93px;
  margin-bottom: 30px;
}

.page-header__title {
  @include font(78px, 1.077em, 400);
  letter-spacing: 30px;
}
