.posters {
  display: flex;
  height: 100vh;
}

.posters__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;  
}

.posters__image-wrapper {
  margin-right: 20px;
}
