.section {
  height: 100vh;
  position: relative;
  background-color: $black;
  &--home {
    background: url('../img/storge-bg.jpg') center center no-repeat #000;
    background-size: cover;
  }
  &--trailer,
  &--photos {
    display: flex;
  }
}
